[2012-11-07 10:56] piojo-zz opened #1 "aii-shellfe doesn't configure DHCP anymore"
Recent changes to the handling of the `discovery`/`dhcp` path have broken the invocations to aii-dhcp. When the user calls `aii-shellfe`, only KS and PXE are econfigured.

This must be fixed by the release.

[2012-11-16 18:39] #1 closed, assigned to piojo

[2013-01-17 12:46] piojo-zz opened #2 "Add monitoring hooks to different stages of the installation"
Currently, if an installation fails during `%pre` or Anaconda, it's impossible to detect unless connecting to a console.

We should have some hooks to receive alerts, instead of us polling the machines.

[2013-01-29 14:22] piojo-zz opened #3 "Generated LVM Anaconda directives don't work on SL6.3"
On SL6.3, the `volgroup` option is optional, but when used we must specify a list of partitions to it.

This conflicts with how we do the partitioning. On SL6.3 and 6.2 it's good enough if we just drop the `volgroup` lines.

[2013-01-29 14:35] #3 closed, assigned to piojo

[2013-04-09 16:55] piojo-zz opened #12 "AII 13.1 RC crashes while downloading profiles"
The error appears on AII, but it may be a problem in CCM or CAF. From Andrea's report:

[code]

This suggests an old CAF version, but he claims to have used 13.1.  I need a confirmation for this.

@jrha , since you volunteered for the tests, can you please verify this bug?

[2013-04-10 21:48] #12 closed, assigned to jrha

[2014-01-31 18:13] jrha opened #36 "aii-pxelinux: network devices generated by biosdevname are not support by schema for ksdevice"
As reported by Denis Pugnere.

In SL6.1+ biosdevname creates network devices with names such as `em1` (for embedded devices) and `p1p2` (for add-in cards) which are not supported by the current schema for aii-pxelinux.

[2014-02-20 14:20] jrha opened #38 "aii-shellfe taint"
`aii-shellfe --configure` for a host using aii 13.12 emits:

[code]

I was amused to see that line 475 claims to be safe!

[code]

[2014-03-01 23:56] #36 closed, assigned to nobody

[2014-03-05 09:56] jouvin opened #41 "aii-shellfe requires cdb-sync (which doesn't exist anymore) but does not list it as a dependency"
Hi,

aii-shellfe still requires cdb-sync for the node notification:

sub notify
{
    my $self = shift;

[code]

}

But doesn't list it as a requirement. In addition  cdb-sync is no longer part of the Quattor (since migration to GitHub).

Cheers,

Michel

[2014-03-17 13:20] almumontiel opened #42 "Missing packages: ncm-chkconfig.noarch ncm-nscd.noarch ncm-afsclt.noarch ncm-ssh.noarch"
Hello,

when fresh installing a machine with quattorsrv 13.1.2 and quattor client 14.2.1 I cannot get a complete installation. But when I run, just afterwards, ncm-ncd --co spam, those packages get installed with no problem.

Please see the ks-post-installation.log:

[code]

[2014-03-20 19:02] samary opened #44 "aii-dhcp rpm dependencies"
Hi,

I'm installing a new Quattor deployment server and I found aii-dhcp rpm does not require dhcp rpm.
Is it normal or it is only a little mistake ? For a better consistency, I think this should be a required dependency.

[2014-03-24 07:43] #42 closed, assigned to piojo

[2014-03-25 11:57] samary opened #46 "aii require parted"
Hi,

I'm still having issue on my new quattor server :

[code]

This issue is fixed when installing parted (yum install parted)

I don't know which package should require it : aii-server or perl-LC or ncm

Cheers

[2014-03-25 12:37] #46 closed, assigned to nobody

[2014-03-25 12:56] samary opened #47 "generated ks yum repos url"
Hi,

I see in my generated ks :

[code]

The baseurl parameter misses a colon and double slashes (after http) and a slash (after the port) : should read http://qproxy.wn.iihe.ac.be:80/14.2.1

I can manually fix the ks but it is better if the ks can be correctly generated.

Cheers

[2014-04-07 20:29] #44 closed, assigned to nobody

[2014-04-09 07:14] stdweird opened #52 "base_packages not enforced?"
i'm doing some work in the sub `yum_install_packages` that deals with the `base_packages`. am i reading the code correct that the `base_packages` are not enforced? switching to yum, the `/software/packages` tree is a lot thinner, and the `base_packages` might not be in there, so they are not added to the list of packages to install.

is this correct? or are the base_packages optional rather then e

[2014-04-09 07:22] stdweird opened #53 "extra_packages not supported anymore?"
the schema and pod have the "extra_packages" field, but i don't find any code related to it (commit 46013a0a8ebe2ae28412b8791631ba0f20ffb2cb seems to remove the support). should we clean up the documentation or readd it to the code?

[2014-04-10 18:57] #47 closed, assigned to nobody

[2014-04-10 18:58] #41 closed, assigned to nobody

[2014-04-13 17:18] stdweird opened #54 "rhel7 support"
i need coding advise how best not to get shot down when opening a pullrequest for rhel7 support in AII.

some new features will be needed, some are optional but must haves (like sshd support in anaconda), and some options are deprecated or different.

i guess a `(do someting) if (magic_value_for_el7_support)` or `if (magic_value_for_el7_support) then {} else {}` are to be avoided?

if someone can

[2014-04-15 19:23] #53 closed, assigned to nobody

[2014-04-17 07:01] #52 closed, assigned to nobody

[2014-04-17 13:30] dzila opened #59 "backport support for kickstart repo parameter to 13.1.x"
Hi,

In RAL I have backported support for kickstart additional repos, that anaconda can pass to yum. I have done this in order to have the latest quattor version systems easily installed with our 13.1.x server. Out of memory, using other methods (like the extra_packages/base_packages) would create dependencies issues with the errata versions. It also helps me to have yum for SL5 installed that can

[2014-06-12 16:54] jouvin opened #66 "aii-ks: support installation of 13.1.x nodes"
Currently if a site wants to run a unique AII server to install both 13.1.x machines and 14.x machines, it has to use a 13.1.2 AII server. This is not very good as it requires sites to run an old SW (and we can imagine the pbs if the site wants to install RH7...) or it requires us to backport things. It also requires to define the variable `AII_V2_INSTALL` for all the 14.x nodes.
An alternative wo

[2014-06-25 12:06] jrha opened #69 "No LICENSE"

[2014-06-26 06:08] jouvin opened #70 "14.6.0-rc1: inappropriate defaults for ks_logging"
**Blocking issue for 14.6.0** (https://github.com/quattor/template-library-core/issues/50)

14.6.0-rc1 introduces the support for netcat/bash logging during install but in the sl6/rhel7 variants, it is configured by default with lines like:

[code]

This is an inappropriate default as it requires a site to configure all the logging properties even though they don't use a central log server. This s

[2014-06-26 09:15] #70 closed, assigned to nobody

[2014-06-26 12:36] jouvin opened #72 "aii-server RPM is missing perl-XML-Simple dependency"
**Blocking issue for 14.6.0** (https://github.com/quattor/template-library-core/issues/50)

aii-server RPM doesn't list perl-XML-Simple as a required dependency.

[2014-06-27 13:16] #66 closed, assigned to stdweird

[2014-06-27 13:53] #72 closed, assigned to nobody

[2014-07-04 11:01] #59 closed, assigned to jouvin

[2014-07-10 15:26] kwaegema opened #74 "Static IP support for bridges"
[code]

[2014-07-12 13:55] #54 closed, assigned to nobody

[2014-07-22 15:34] #69 closed, assigned to nobody

[2014-08-14 16:00] #38 closed, assigned to nobody

[2014-09-12 09:19] victor-mendoza opened #80 "kickstart: the bonding functions break when ksdevice=$hw_addr"
I think this will also probably happens with other accepted values like "link" and "bootif".

With Quattor 14.8.0 and "ksdevice" set to an interface MAC address we got the following (redacted) error:

[code]

[2014-09-16 21:08] #74 closed, assigned to nobody

[2014-10-08 10:50] nowack73 opened #82 "aii-shellfe/pxelinux does not support certain ksdevices"
Hi,

I have tried to use 'link', 'bootif' and a MAC address for '/system/aii/nbp/pxelinux/ksdevice' with Quattor 14.8.0. The schema of aii-pxelinux allows such devices, but aii-shellfe fails with an error message like this:

[code]

Best regards,
  Andreas

[2014-10-10 14:39] kwaegema opened #84 "aii-opennebula: add version req for ONE and perl-Net-OpenNebula"
add version requirements to aii hook for recent enough opennebula and perl-Net-OpenNebula.

[2014-10-14 20:05] alvarosimon opened #85 "Create new function to detect ONE version"
Current OpenNebula aii only supports OpenNebula >= 4.8.x. Create a new function to detect ONE version.

[2014-10-16 11:36] #82 closed, assigned to nobody

[2014-10-16 22:41] #85 closed, assigned to nobody

[2014-10-23 13:10] alvarosimon opened #87 "aii-opennebula: Split ONE functions in two to remove/create something"
Split all ONE AII functions in two (to remove and create resources)

[2014-10-27 13:00] alvarosimon opened #88 "aii-opennebula: Use TextRender"

[2014-10-27 15:28] alvarosimon opened #89 "aii-opennebula: Use TextRender"

[2014-10-27 15:46] #89 closed, assigned to nobody

[2014-10-28 08:03] #84 closed, assigned to nobody

[2014-10-28 16:57] Pansanel opened #90 "Bug when ksdevice set to hw_addr with ANACONDA_VERSION_EL_6_0"
Dears,

With aii 4.6.0, I have bug with aii-shellfe when I try to configure the host:

It is caused by the fact that I am using Mac Address to define ksdevice. If you look at `NCM/Component/pxelinux.pm`, the component try to configure pxe_network_bonding and fails because the $dev argument is the hardware address (line 162). The pxe_network_bonding is called on line 252:

Cheers,

Jerome

[2014-10-29 12:33] alvarosimon opened #91 "aii-opennebula: Fix false error log "TIMEOUT! Image status: 1 is not ready yet...""
AII reports an timeout error
[ERROR] TIMEOUT! Image status: 1 is not ready yet...
but the image is generated correctly.

[2014-11-03 19:21] stdweird opened #92 "aii-opennebula: handle uninitialzed warnings"
when doing a `aii-shellfe --remove` on a node that is not yet installed, the aii opennebula hook returns some unitialized warnings, that should be captured to give a cleaner error message

[code]

[2014-11-04 12:31] stdweird opened #94 "aii-opennebula: wait for images are removed"
in the remove phase, and when the aii can remove the image, we should wait until the image is actually removed before proceeding.

[2014-11-18 19:57] #90 closed, assigned to nobody

[2014-11-20 22:36] stdweird opened #97 "aiiv3 RFC"
AII should provide support for iPXE. Main change is support for more then tftp pxeboot (eg http or iscsi).

However, to make proper usage of the new possibilities of iPXE, the current way of tracking the boot state of node needs to be replaced and made independent of the pxe implementation choosen by a site.

The actual implementation of the site pxe preference (syslinux or iPXE or ...) can then s

[2014-12-04 16:05] #2 closed, assigned to piojo

[2014-12-18 13:23] #80 closed, assigned to nobody

[2015-01-14 08:56] stdweird commented on #97
support for UEFI pxeboot configuration

[2015-01-16 15:02] stdweird opened #100 "ks-post-install hangs after initial ncm-ncd --co spma during ks-post-install"
Observed, but not yet debugged following issue:
when during the ks-post-install of EL7 you login with ssh, and the initial `ncm-ncd --co spma` is running; the `ncm-ncd` completes without problems, but never gets to the `ncm-ncd --co --all` step.

the `ks-post-install` script just hangs.  without the ssh login, everything goes smooth.
(the install is using the remote logger, so no real reason to lo

[2015-01-16 15:04] stdweird opened #101 "use wait to drain the remote logger"
we should capture the pid of the remote logger with `$!` and `wait` for it instead of the drain sleep mess.

[2015-01-16 16:14] stdweird commented on #100
hmm, the login is pure coincidence. i also get it on machines without logging in
[code]

[2015-01-21 13:30] kwaegema opened #102 "software raids installed on boot,swap and root partitions with kickstart not working under el7"
raid .... --noformat seems not to assemble nor mount the used devices. This is only done when using  --useexisting

How I got it to work manually:
[code]
and in %pre section:
[code]

[2015-01-26 08:24] stdweird commented on #100
some more debugging revealed that the `ks-post-reboot` sysv service takes too long to "start", so systemd does some cleanup, which probably causes the issues (although no `SIGKILL` is used, only `SIGTERM`?).

Default timeout is 5 minutes.

[code]

[2015-02-25 09:16] alvarosimon opened #107 "aii-opennebula: Update OpenNebula templates from configure hook"
Right now ONE templates are generated from aii install hook. This is ok if we want to install and configure a new VM but if we want to update the templates or just generate templates without VM instantiation we should move these functions to be executed by configure hook instead install.

[2015-03-19 12:53] jnovy opened #110 "Bug in $logactions in %pre script"
Hello,

there seem to be a bug in aii-ks code related to $logaction evaluation:
(and maybe a comment bug - see the first line with unfinished comment)

---
    # Takes care of the pre-install script, in which the
    sub pre_install_script
    {
    my ($self, $config) = @_;

    my $logfile = '/tmp/pre-log.log';
    my $logaction = log_action($config, $logfile);

    print <<EOF;
    %pre
    # P

[2015-03-19 13:05] stdweird commented on #110
@jnovy what OS/perl version is this? default for heredoc is to evalutae, maybe try with
[code]
(don't know if it forces evaluation, but `'EOF'` certainly disables it).

[2015-03-19 13:16] jnovy commented on #110
print <<"EOF";

won't even compile. I fixed it by creating separate print <<'EOF'; block and putting $logaction out from it. Sorry about old crappy perl version but we need to support it.

[2015-03-19 13:19] jnovy commented on #110
(the perl version is 5.8.4)

[2015-03-19 13:21] jouvin commented on #110
Which is coming from which OS version? I'd say that EL5 is probably a minimum to run AII and if I'm right it was already 5.8.10...

[2015-03-19 13:23] stdweird commented on #110
@jnovy well, good luck with that then, because there' a lot of interpolated heredocs in AII ks.

[2015-03-19 13:33] stdweird commented on #110
@jnovy can you also try with `${logaction}` (without quotes around the `EOF`)? this might also force interpolation

[2015-03-19 13:34] jnovy commented on #110
Whoops - sorry the perl version is actually v5.10.1 (aii-shellfe asks for 5.10 specifically)

[2015-03-19 13:38] stdweird commented on #110
and `print <<"EOF";` fails?

this is on EL6
[code]

[2015-03-19 13:42] jnovy commented on #110
Yep, with print <<"EOF"; I get:

[ERROR] Couldn't load ks for path /system/aii/osinstall: Global symbol "$PATH" requires explicit package name at <path>/ks.pm line 705.

${logaction} won't help...

[2015-03-19 13:45] jrha commented on #110
But but but...

[code]

[2015-03-19 13:46] jnovy commented on #110
Ok, that $PATH bits are downstream hack of my predecessor. It's not present in your code.

Sorry for the noise guys. I need to fix it in my downstream code.

The problem is that perl tries to evaluate $PATH as perl variable not the bash one...

[2015-03-19 14:40] jrha commented on #110
Closed?

[2015-03-19 17:19] #110 closed

[2015-03-24 14:42] #100 closed

[2015-03-25 09:21] #87 closed

[2015-03-25 09:21] #88 closed

[2015-03-25 09:21] #91 closed

[2015-03-25 09:21] #92 closed

[2015-03-25 09:21] #94 closed

[2015-04-05 12:06] JulienNauroy opened #111 "Idea: securing profiles and kickstart directories"
Hi,
The 'profiles' and 'kickstart' directories are currently accessible through HTTP by at least every machine managed by AII. One problem I see is that a machine accessible by regular users could read all configuration information (including passwords, e.g. mysql) of all other machines.

I came up with a simple solution to isolate these files using an automatically-generated .htaccess file. Altho

[2015-04-05 23:49] StephaneGerardVUB commented on #111
Hi,
To prevent regular users from being able to access profiles and kickstart files, there is a solution based on freeipa that we use in belgian grid, but this solution is rather heavy and complicated. You will find a short description of what we did here : http://mon.iihe.ac.be/trac/t2b/wiki/QuattorFreeIPA. It is not high quality and up-to-date documentation, but at least, it gives you a sketch o

[2015-04-06 08:21] stdweird commented on #111
@JulienNauroy to achieve this we use httpd rewrite rules and certificates (from sindes for now, looking into freeipa to replace sindes), and the the requests are mapped to the hostname in the certificate).

so the writeup from @StephaneGerardVUB is more or less what we are using now and what we will be using later (we might look into using krb5 credentials only, but that's a minor difference; and

[2015-04-07 10:45] jrha commented on #111
We did something similar that used a redirect rule to redirect any request (for any URL) to `/profiles/$HOSTNAME`.json where `$HOSTNAME` is the result of a reverse lookup of the request IP, the advantage here is that it can be configured statically.

I'll see if I can find it.

[2015-04-07 10:56] jrha commented on #111
Can't find it, but it was something like:
RewriteRule ^(.*)$ https://%{HTTP_HOST}/profiles/%{REMOTE_HOST}.json
which also forces use of HTTPS.

[2015-04-07 12:16] jrha commented on #111
Also, you don't need to configure CCM on clients properly anymore, just point them at `https://quattorserver.example.org/myprofile`, oh it's nasty sure, but so very lazy.

[2015-04-07 13:38] piojo commented on #111
[Pan template](https://github.com/stdweird/quattor-SCDB-ugent/blob/master/cfg/non-grid/hpc/common/quattor-server/profiles.pan) with the UGent's configuration.

The `ACLmap` file allows certain hosts to look at all profiles. This is useful for the AII server, unless it runs in the same host that serves the profiles, in which case using `file://` URLs is faster.

[2015-04-07 16:21] jrha commented on #111
Nice, I like the way it handles the extension correctly :+1:

[2015-04-21 11:47] JulienNauroy commented on #111
Thanks for all your comments.
Will we see any of these solutions implemented in a next release (e.g. solutions proposed by @StephaneGerardVUB and @stdweird)? Or maybe added to the tuturial as a good practice, such as @jrha's solution (which is way better than mine, I'll use it!)

[2015-04-21 12:28] jrha commented on #111
It could certainly go into the tutorial and/or examples.

I think this is the best bits of mine and the UGent rules (but haven't tested it) I think it should handle everyone's use cases though.

[code]

[2015-04-22 08:19] JulienNauroy commented on #111
I think your example generates an infinite loop because of the HTTP 302 redirection.
I'd try something like:
[code]

Not tested yet, I didn't order the SSL certificate for my machine yet. I'll test it and improve it if need be so that it can be added to the tutorial.

[2015-04-22 13:32] JulienNauroy commented on #111
I've just tested it, seems to work well.

[2015-04-22 15:24] kwaegema opened #115 "questions around wipe_metadata"
There are some things in the generated kickstart files that needs some cleanup:
- `wipe_metadata` only has 1 parameter, the device. But it is further called with an additional value , eg:
 `wipe_metadata /dev/sda1 1`
- the `if [ primary != "extended" ]` wrapped around `wipe_metadata` : Should `primary` be a string or a variable? don't know where this should come from.

[2015-04-24 06:54] alvarosimon opened #116 "aii-pxelinux: include improved unittests for the AII hooks"
At this moment aii-pxelinux does not include any unittest to check remove, boot, install hooks.

[2015-04-30 09:57] jrha commented on #107
Fixed by #112.

[2015-04-30 09:57] #107 closed

[2015-04-30 10:00] jrha commented on #107
@alvarosimon can you try to remember to include "fixes #nnn" (as documented [here](https://help.github.com/articles/closing-issues-via-commit-messages/)) in your PRs so the issues get closed automatically and I don't have to chase them down manually.

[2015-05-07 11:34] jrha commented on #102
@stdweird has informed me that you have volunteered to fix this yourself :smile:

[2015-05-07 13:18] alvarosimon opened #119 "aii-opennebula: set AR network mac addr as optional"
Use opennebula generated mac addr if it is not defined by the hardware quattor templates

[2015-05-09 10:58] jouvin opened #120 "aii-ks 15.4: missing CR in messages displayed at the console"
I don't know if this is specific to our HW but with `aii-ks` 15.4 (may be also the case with previous version...) when installing EL7, with graphic mode disabled (the default), all the messages printed during KS pre/post scripts are missing a CR (only the LF is taken into account). The result is hardly readable. Something like:

[code]

Is it a know problem? Are we the only one with it?

[2015-05-09 11:53] stdweird commented on #120
messages printed where? in our case, both local logfiles and the remote logger output looks ok.

also, is this 7.0 anaconda or 7.1? and do you have any localisations enabled?
is there anything funny with the kickstart file itself? (maybe something slipped in there, some non-US locale setting transferred via ssh environment; and picked up by aii-shellfe?; ssh from iOS is known to cause problems wit

[2015-05-09 12:19] jouvin commented on #120
Sorry, I forgot to mention that the problem is on the console. I can imagine that this is perfectly correct in files (as LF is the Unix end-of-line mark). I have not seen this problem before (in SL6): for example the pre script commands and command output were printed fine on the console. I don't think it has to do with localisation as we are using US locale:

[code]

[2015-05-09 12:57] stdweird commented on #120
@jouvin with console you mean serial console or an actual terminal? i found a screen resolution mismatch issue https://bugs.centos.org/view.php?id=7313, maybe worth a try?

[2015-05-09 13:26] jouvin commented on #120
Yes serial console...I had a quick look to the url you mention but I am not sure this is the same problem...

[2015-05-11 08:58] jrha commented on #120
We have seen this too.

[2015-05-19 11:16] stdweird opened #122 "json_typed aiiserver"
AII is unaware of `json_typed` setting. The `ccm.cfg` is hardcoded in `aii-shellfe` and used like that with `Fetch`; but it and is not passed on to the `CacheManager` setting, which reads the machine `/etc/ccm.cfg` and can misinterpret data.

needs some CCM changes which will be in 15.6, and some small modification in AII itself.

[2015-05-19 21:21] stdweird commented on #122
spend large fraction of a day on this, it's a lot more hidden then expected. handled in https://github.com/quattor/CCM/pull/57

[2015-05-20 06:07] stdweird commented on #122
This still needs code changes in AII to avoid straneg side effect where the `CacheManager` instance would enable `json_typed` and only the first parsed template would not be `json_typed`

[2015-05-20 09:37] samary opened #126 "Add a reinstall option"
Hi,

On our site, when we want to reinstall a node, we run successively 3 commands :
- `aii-shellfe --remove $node` to clean things up.
- `aii-shellfe --configure $node` to create all needed files, entries, ...
- `aii-shellfe --install $node` to set the node to install at next boot.

Therefore, I think it could be useful if we have a one-liner `aii-shellfe --reinstall $node` option to do the same.

[2015-05-20 16:59] jrha commented on #126
We use the `rci` alias from UGent for this.

[2015-05-28 10:15] StephaneGerardVUB opened #128 "aii-opennebula : prints that the VM was successfully created while there was an issue during instantiate"

[2015-05-28 11:35] alvarosimon commented on #128
@StephaneGerardVUB ups for opennebula aii everything is fine :smile:
Thanks a lot for letting us know, we will include a fix in the current opennebula PR #127 to monitor VM status after instantiation.

[2015-06-04 07:51] alvarosimon opened #130 "aii-opennebula: Include a SPICE option to connect to aii VMs"
Include SPICE support to connect to aii virtual machines. This feature is included since OpenNebula 4.12.x

More info:
 * http://opennebula.org/4-12-features-spice-support-in-sunsonte/
 * http://www.spice-space.org

[2015-08-04 14:25] #122 closed

[2015-08-12 12:01] samary opened #134 "Missing freeipa.pm in AII RPM"
Hi,

I was wondering why the `aii-freeipa/src/main/perl/freeipa.pm` is not included in the latest RPM release (15.4.0) ?
Is it a mistake or this should come via another RPM (like aii-freeipa) not available yet ?

Cheers

[2015-08-12 12:35] stdweird commented on #134
the `freeipa` rpm is not part of the release, mainly because the build step currently produces unusable rpm for EL7 based systems.

[2015-08-12 12:37] samary commented on #134
Thanks for the answer.
How can I build this RPM on my laptop to test things ?

[2015-08-12 12:39] stdweird commented on #134
regular `mvn package`, use the instructions in the README if you are not using python 2.6

[2015-08-12 13:05] samary commented on #134
Nice :D
Should I close this or keep it open for tracking ?

[2015-08-12 13:06] stdweird commented on #134
leave it open, i'll try to look at this for 15.10

[2015-08-13 10:42] jrha commented on #119
Fixed by #127

[2015-08-13 10:42] #119 closed

[2015-08-13 10:42] jrha commented on #128
Fixed by #127

[2015-08-13 10:42] #128 closed

[2015-08-13 11:08] stdweird commented on #115
to answer the questions:
a. the second parameter is the `clear_mb`, the minimum amount of data to write (affected by offset and/or alignment)
b. fixed that bug

[2015-08-17 13:24] alvarosimon opened #136 "aii-opennebula: install hook tries to instantiate a vm template without image status check"
Change install hook to instantiate the VM template only if the image status is READY, if not log the problem and stop the instantiation.

[2015-08-20 05:51] stdweird commented on #116
afaik, the idea is to improve the test https://github.com/alvarosimon/aii/commit/54f9ffe58b867aa1b4b9e824e728da7de27316ad

[2015-08-20 16:49] #126 closed

[2015-08-21 09:52] #130 closed

[2015-08-21 09:52] #136 closed

[2015-08-21 10:49] stdweird commented on #115
@kwaegema need anything else?

[2015-08-21 11:24] kwaegema commented on #115
Nope, that clears it up, thanks!

[2015-08-21 11:24] #115 closed

[2015-08-26 09:50] #116 closed

[2015-09-25 13:32] alvarosimon opened #142 "aii-opennebula: include support to set different cloud domains into /etc/aii/opennebula.conf"
At the moment ONE AII uses `/etc/aii/opennebula.conf` to access to a single RPC endpoint:
[code]
Include support to be able to use different cloud domains if it is required, as example:
[code]
If `[DOMAIN]` is not set AII should still use the `[rpc]` section to keep backwards compatibility.

[2015-10-15 10:20] kwaegema opened #145 "option to need explicitly confirmation before wiping a system with aii"
it would be useful to have a feature you can set on specific hosts (eg storage nodes) to need specific confirmation before wiping it. eg. aii-shellfe could ask you to add the buildid before doing something to such a host (except for booting)

[2015-10-23 15:08] jnovy commented on #120
The printing issue on the serial console without CR seems to be related to anaconda pane setup. Asked Red Hat about it. I will let you know.

[2015-10-23 18:04] jnovy opened #146 "no possibility to set network --activate"
Hi,

we are using image based builds which in kickstart look like:

liveimg --url=myimage

on RHEL7. The problem is that when anaconda switches to stage2 then it doesn't reactivate network interface leading to image download failure.

Replacing:
network --bootproto=dhcp

with

network --bootproto=dhcp --activate

fixes it.

There is however to my knowledge no way how to force aii-ks to add the --a

[2015-10-24 05:17] stdweird commented on #146
should be an easy fix. is `--activate` and EL7 only option? (and out of interest, why not use static network config in ks/anaconda?)

[2015-10-26 12:26] jnovy commented on #146
yep, EL7 only. There is even a possibility to do multiple network statements in ks file like:

network --bootproto=dhcp
...
network --activate

which EL7 anaconda is able to understand and it would make the aii-ks code more readable (just addition).

WRT static net configuration - we need it as described above due to our template side conf/and hw setup.

[2015-10-26 12:27] jnovy commented on #146
Also it's worth noting that in case of ordinary "url --url" package installations it's not needed. It's required for image deployments only.

[2015-10-29 16:07] jnovy commented on #120
Red Hat suggested e.g. this structure to process CR properly:

%pre
(
echo 'Pre Script'
echo  'Foo...'
echo -en 'Bar..\nTesting\n'
echo -en '1 '
echo -e '2...'
) 2>&1 | tee /tmp/pre.log | tee /dev/pts/0
%end

I tested it and it works.

[2015-11-16 08:32] alvarosimon opened #148 "aii-opennebula: Include VM template disk cache_mode option"
Include support to use different disk cache modes
(only for KVM driver):
 * default
 * none
 * writethrough
 * writeback
 * directsync
 * or unsafe.

This option is not set by default

[2015-11-16 08:39] alvarosimon commented on #148
http://docs.opennebula.org/4.12/user/references/template.html#disks-section

[2015-12-01 09:21] kwaegema opened #150 "aii-dhcp: reuse of hosts (i.e. mac addresses)"
when hosts are reused with a different hostname, there end up two entries with the same MAC-address: The old one is not removed, and the new one is added at the end. The effect is that dhcpd chooses the first - wrong - entry

[2015-12-03 10:35] jrha commented on #102
@kwaegema any update?

[2015-12-03 21:49] JulienNauroy opened #151 "AII not using excludedPackages?"
Hi,

Following this thread: https://github.com/quattor/ncm-ncd/issues/52
It looks like AII understands specifying exact versions of packages through `pkg_replace` but does not take `excludepkgs` directives from repository declarations into consideration.

One consequence is AII not able to run ccm-fetch when some repository overrides perl-common-sense and puts files in another place.

Since I'm ab

[2015-12-04 07:42] stdweird commented on #151
Feel free to try the patch in #152 and report back if it works or not.

[2015-12-07 14:45] #151 closed

[2015-12-07 15:28] #142 closed

[2015-12-07 15:53] jrha commented on #102
@kwaegema?

[2015-12-07 16:00] #148 closed

[2015-12-11 13:48] jrha commented on #102
@kwaegema?

[2015-12-11 14:45] kwaegema commented on #102
@jrha  I didn't test this yet with the new code, the fixes weren't specifically for this, so it is probable that it is not fixed completely, so I'll have to look/try again

[2015-12-16 14:25] wdpypere opened #153 "aii-ks: aii repository creation during install does not escape variables"
In the kickstart scripts, at a certain point we do:
[code]
which results in:
[code]

Not game breaking but it is not correct and leaves stuff on the system which should not be there. Escaping these should work.

[2015-12-16 15:07] stdweird commented on #153
@wdpypere can you apply the patch by hand and verify?

[2015-12-16 15:13] wdpypere commented on #153
@stdweird will do

[2015-12-16 15:40] wdpypere commented on #153
@stdweird tested and it works as expected.

[2016-01-11 17:28] #153 closed

[2016-01-18 13:14] guillaume-philippon opened #157 "disabled selinux broke installation"
Hi,

Since 15.12.0 version , when you put ```/system/aii/osinstall/ks/selinux```to ```disabled``` aii-ks add -selinux* to package to install.

That broke kickstart post install with ```-s option not exist``` error.

I don't know what we want to do with this option but it's not correctly done.

[code]

[2016-01-18 14:01] stdweird commented on #157
what OS is this?

[2016-01-21 09:32] jouvin commented on #157
This happened in Cent0S 7.2. Conversely to what @guillaume-philippon said, there was no change in 15.2 compared to 15.4 (and probably 15.8). The change is that this is the first 7.2 machine we installed from scratch and it seems. The reason is not really clear as `yum` still accept a package starting with a `-` as long as the end of options (before the first package) is marked with `--` (but it se

[2016-01-21 09:34] jouvin commented on #120
Would be good to implement it! This is making debugging much harder...

[2016-01-21 09:39] jouvin opened #158 "15.12.0: painful FS reformatting on CentOS 7.2"
I reinstalled a machine previously running SL6 in CentOS 7.2, keeping the same file system definition. I observed a strange behaviour and an annoying wait for  wipe confirmation at the console...
- The machine rebooted 2 times (after the initial install boot) without any obvious reason, at the end of the pre script. Unfortunately I was not looking at the console when this happened (I can only say

[2016-02-11 12:51] Pansanel commented on #102
I hit the same issue with CentOS7. I add this to the pre-section:
[code]

[2016-02-17 16:38] stdweird opened #163 "aii-ks: spma gpgkey support"
see also https://github.com/quattor/configuration-modules-core/issues/717

[2016-02-17 21:43] stdweird commented on #157
@guillaume-philippon @jouvin can you send me the kickstart file that was used? we set this and have no issues with installations.

[2016-02-17 21:53] stdweird commented on #157
our relvant part of the kickstart
[code]
(there is an extra newline between the `-selinux*` and the `%end`).
and `/system/aii/osinstall/ks/end_script` is set to `%end` in the profile.

[2016-03-21 08:14] stdweird commented on #157
@guillaume-philippon ping?

[2016-03-21 14:53] kwaegema opened #166 "Usage of aii-core dhcp and aii-dhcp"
Hi,
when trying to solve #150 , I stumbled over something looking strange: I found the logic to configure dhcp in two different places:
https://github.com/quattor/aii/blob/master/aii-dhcp/src/main/perl/dhcp.pm
https://github.com/quattor/aii/blob/master/aii-core/src/main/perl/aii-dhcp

At first sight, they seem to have the same functionality, functions and identical implementations. Only the way of

[2016-03-24 14:40] alvarosimon opened #167 "aii schema extension for VMs and VMs management"
This was discussed during the Quattor workshop by @samary @jouvin and @stdweird , currently we have 2 different use cases related with the VM management in Quattor:
- Create a very basic VM image which is contextualized on boot time with a script that triggers a Quattor install and configuration.
- Use the quattor profile to manage the whole process (VM instantiation and cloud resources generation

[2016-03-25 09:13] stdweird opened #168 "Support kerberised ccm"
* generate the principal / keytab entry in ccm.conf https://github.com/quattor/CCM/pull/93
* rework/update the aii-freeipa hooks

[2016-04-05 06:02] stdweird opened #170 "aii-ks: packagesinpost should handle the `-` packages`"
See https://github.com/quattor/template-library-core/issues/109

[2016-04-12 21:28] gombasg commented on #166
I think we have integrated the DHCP bits into AII and pushed that upstream, but the old stand-alone script was left in place to help the transition. That was a long time ago, and I don't know if others switched to the AII module or not.

[2016-04-13 13:29] kwaegema commented on #166
@gombasg I digged a bit into it, and in the aii-shellfe script I see it is possible to use the AII module as pluging when /system/aii/discovery/.. is used (https://github.com/quattor/aii/blob/0a44ed80a89f04e98f67a2a32855a4449fa9df7d/aii-core/src/main/perl/aii-shellfe#L772).
This is also mentioned in the oldest issue #1 . (Don't know if this is still valid, but it seems so)
So we should move in tha

[2016-04-18 11:50] alvarosimon opened #173 "aii-opennebula: Add an option to assign the new cloud resources to a specific user/group"
At this moment all the resources managed and generated by the AII are assigned to oneadmin user. Add an option to choose instead oneadmin a different user or group.

[2016-05-06 09:55] #170 closed

[2016-05-09 09:21] stdweird commented on #157
@guillaume-philippon should be fixed by #171 and in 16.4. Please reopen this issue if this is not the case

[2016-05-09 09:21] #157 closed

[2016-05-09 09:22] stdweird commented on #168
in particular aii-freeipa is not ready at this moment

[2016-05-09 13:40] jrha commented on #168
In terms of "not ready", do we have a list of what is missing?

[2016-05-09 14:22] stdweird commented on #168
@jrha if https://github.com/quattor/aii/pull/161 gets merge, it should support the required params for ccm.conf in aii.

it is also possible that the old aii-freeipa still works, but the new one is not ready yet.

so your mileage may vary; in particular i have not tested anything with AII yet

[2016-05-13 06:59] stdweird opened #175 "aii forces CDB_File"
AII has a requirement on CDB_File, as it passed as an option to CCM, but not used in aii itself.
my question: should aii really use something else than the local CCM? (and if CDB_File really is faster/better/..., why is it not the default in CCM, or a requirement/dependency of CCM)

[2016-05-13 10:40] jrha commented on #175
I think I remember @njwilliams and/or @gombasg having opinions on CDB_File.

[2016-05-13 13:04] njwilliams commented on #175
When used as a server_module, AII runs against a large number of cached profiles. No matter what the general use-case of CCM (e.g. on a specific host, it might have GDBM or something), when in the use-case of processing many profiles then CDB was an order of magnitude faster. This was a write-up in one of the QWG meetups - see the 'Bootserver' section at https://trac.lal.in2p3.fr/Quattor/wiki/Meet

[2016-05-13 13:39] stdweird commented on #175
@njwilliams thanks for the clarification
http://www.perlmonks.org/bare/?node_id=1023711, showing that CDB is really a lot faster. since we use the DB as WORM, CDB seems like the best fit.
i opened https://github.com/quattor/CCM/issues/100 to track this

[2016-05-13 20:29] gombasg commented on #175
Actually, we're considering switching to CDB for CCM too, because we ran into issues with the BDB backend when the disk fills up. I don't remember the details right now, but I _think_ the issue was that BDB simply did not notice when the disk got full, and we ended up with corrupt state without any indication of an error.

[2016-05-16 09:02] #163 closed

[2016-05-25 11:30] alvarosimon opened #179 "aii-opennebula: VM network ARs are not updated only created or removed"
Running `--configure` option gives this error message only if the network resource was created before:

[code]
`AR_ID` value is missing from the AR template (this issue was already fixed for ONE component). The aii AR template should include this value as well to be updated.

[2016-06-07 12:48] alvarosimon opened #180 "aii-opennebula: Support regular expressions in aii/opennebula.conf"
Include support to use sections with regular expressions within aii opennebula.conf file

[2016-06-21 19:21] #102 closed

[2016-06-27 10:37] #173 closed

[2016-06-28 07:27] alvarosimon opened #182 "aii-opennebula: Include PCI Passthrough support"
This is a nice feature to have, since ONE 4.14.0 it's possible to schedule and assign free hypervisor PCI resouces to the VMs.

http://docs.opennebula.org/5.0/deployment/open_cloud_host_setup/pci_passthrough.html

This feature requires a new PCI section within VM template.

[2016-07-01 07:28] stdweird opened #184 "aii-dhcp plugin/module usage"
is anyone using the `NCM::Component::dhcp` plug-in/module in https://github.com/quattor/aii/tree/master/aii-dhcp/src/main/perl?

I would like to make some changes to the `aii-dhcp` script, which does not seem to use it at all, and find it confusing that the module also exists.

If no-one uses it, i propose to remove it. if it is being used, I might look at refactoring the code in aii-dhcp script a

[2016-07-01 07:28] stdweird commented on #184
@gombasg you seem to have made the initial commit. is it in use at MS?

[2016-07-12 11:49] alvarosimon opened #187 "aii-opennebula: Include OpenNebula 5.x support"
ONE 5.0 includes some new features and the VM template was changed. aii-opennebula must check the ONE version through the RPC endpoint and change the VM template accordingly.

[2016-07-20 08:55] jouvin opened #188 "Missing dependency requirement perl-XML-Simple"
`aii-shellfe` in 16.6.0 requires `perl-XML-Simple`. This needs to be added to the `pom` file.

This is a showstopper for [16.6.0](https://github.com/quattor/release/issues/253).

[2016-07-21 09:05] #188 closed

[2016-07-25 07:40] stdweird commented on #188
@jouvin this is odd. i get the following with an rpm that was build before
[code]
can you check if this requirement was not set in the old rpm?

[2016-07-28 13:32] alvarosimon commented on #179
After a few tests and looking a little bit closer the documentation:

so basically it does make sense to update ARs from the AII, just create or remove them. The size is always 1 in for each network interface and we don't include extra variables in the AR.
I will close this issue.

[2016-07-28 13:32] #179 closed

[2016-08-03 14:59] stdweird opened #193 "slow aii-shellfe"
* with tabcompletion enabled by default in ccm, extra unnecessary work is done (30-40% of single node work)

[2016-08-03 15:50] jrha commented on #193
I'm not sure what this means, but it doesn't sound good.

[2016-08-03 19:08] stdweird commented on #193
fix for current release: https://github.com/quattor/aii/blob/master/aii-core/src/main/perl/aii-shellfe#L931 insert
[code]

due to #190, i'm not going to make PR for this; but will fix it in that PR.

[2016-08-04 08:39] #180 closed

[2016-08-10 08:20] #182 closed

[2016-08-10 09:10] #145 closed

[2016-08-11 12:01] #187 closed

[2016-08-17 18:45] stdweird opened #196 "aii-opennebula: cleanup templates"
see https://github.com/quattor/template-library-core/pull/122

[2016-08-18 08:48] #196 closed

[2016-08-22 13:07] kwaegema opened #199 "AII-Opennebula: hook behaviour of --configure"
Right now by default --configure removes and recreates the image if it exists. This should not be done with --configure but only with --remove.

[2016-08-24 09:56] alvarosimon commented on #199
Yes we should change the logic a bit. I will fix this as soon as possible.

[2016-08-24 11:35] Pansanel opened #200 "aii-core: issue when the main tree has more than one entry in "/system/aii/nbp""
Hi,

We need to set for disabling bonding during boot time:

[code]

After compilation, the configuration tree contains a supplementary element `ks`:

[code]

In this case, the `aii-shellfe` fails with the following error:

[code]

This is caused by the line https://github.com/quattor/aii/blob/master/aii-core/src/main/perl/Shellfe.pm#L363 where the perl script is running the ks plugin instead of p

[2016-08-24 12:51] jrha commented on #200
This is what I would expect! Setting
[code]
to me, disables bonding during kickstart, not boot.

What behaviour are you actually trying to achieve?

[2016-08-24 13:18] jouvin commented on #200
@Pansanel I am not sure what you want to do but is not it `/system/aii/osinstall/ks` that you would like to set. I have the feeling that `/system/aii/nbp` can accept any key and that just `nbp` has a schema, thus the reason it compiled.

[2016-08-24 13:23] jouvin commented on #200
I just checked, `/system/aii` is basically defined as `extensible` in `quattor/types/aii.pan`. And then the parts really used are assigned a schema that restricts what is possible. The end result is that you cannot catch misdefined paths... Personally I never liked this and this is probably something that should be revised at some point... At least to restrict what is extensible.

[2016-08-24 13:42] Pansanel commented on #200
Using ```"/system/aii/nbp/ks/info/bonding" = false;``` makes ```aii-shellfe --install``` failing silently (you only see "no method Install available for plugin ks" with debug enabled.
If nbp can accept any key, we should modify:
[code]
with
[code]
(or better, passing the name of the module to the function **run_plugin**).

[2016-08-24 20:18] stdweird commented on #200
@jouvin :+1: on not liking any extensible type
@Pansanel as @jouvin said, disabling bonding in ks should be done with `'/system/aii/osinstall/ks/bonding' = false;` (see unittest https://github.com/quattor/aii/blob/master/aii-ks/src/test/resources/kickstart_bonding.pan)

out of interest, may i ask why you are disabling bonding? what is not working when it's enabled?

[2016-08-25 06:46] Pansanel commented on #200
When it is enabled, I can not you mac address at ksdevice.

[2016-08-25 06:47] stdweird commented on #200
@Pansanel please elaborate :smile: so it generates pxe boot args that do not work? (can you paste them here?)

[2016-08-25 07:00] Pansanel commented on #200
When I use the following code:
[code]

```aii-shellfe --configure``` fails with the following error:
[code]

[2016-08-25 07:19] stdweird commented on #200
@Pansanel
* do you actually have bonding configured on that host? if not, this is a bug in the pxelinux code that you cannot pass a macaddress as ksdevice (it's definitely a bug i think), as that should (still?) work. (i've never configured `ksdevice=<macaddress>` myself; but i assume it used to work since you are using it)
* if you do have bonding and want it configured during anaconda (that's wh

[2016-08-25 07:54] jouvin opened #201 "AII schema should not be extensible"
Up to Quattor 16.6.0, AII schema (`/system/aii/xxx`) is making an extensive use of `extensible`. Basically all parts of the schema are extensible and only some parts are bounded to a real schema. As a result, every typo or mistake in  configuration paths cannot be catched during compilation and result in `aii-shellfe` errors not always easy to understand (see #200 for example)...

The motivation f

[2016-08-26 07:00] stdweird commented on #200
@Pansanel how did the `aii-shellfe` "fail"? did it only report the error? (code looks like it should have generated the correct pxe cfg file). (anyway, i'll fix this)

[2016-08-30 14:28] alvarosimon opened #204 "aii-opennebula: http rpc endpoint is hardcoded"
RPC url http is hardcoded from aii-opennebula code and it is not able to use https endpoints:

change aii configuration to include an url endpoint, as example:

[2016-09-02 08:58] jrha commented on #168
Not "supported" until aii hooks are reworked, bumping.

[2016-09-12 06:33] stdweird opened #206 "add pod syntax tests to all test dirs but opennebula (and freeipa)"
* opennebula got it's test in #205
* freeipa AII will be removed after https://github.com/quattor/aii/pull/203 and https://github.com/quattor/configuration-modules-core/pull/750 are merged

[2016-09-16 10:55] kwaegema opened #208 "aii-opennebula: add some error msgs to opennebula_vmtemplate_vnet type checks"
something like this

[code]

[2016-09-16 13:02] alvarosimon commented on #208
@kwaegema yes the schema does not provides a lot of info if something is wrong... I will change that, also the datastore check should include more info. thanks!

[2016-09-19 21:32] stdweird opened #209 "support ACTIVE_CONFIG"
Similar to `ComponentProxy` in https://github.com/quattor/ncm-ncd/pull/74

[2016-10-04 14:34] jrha commented on #201
Discussed at workshop and agreed to survey the community for hook usage and remove the extensible option.

[2016-10-05 15:11] piojo opened #212 "Run aii-shellfe as non-root."
The only known blocker is `aii-dhcp` which restarts dhcpd.  All other stuff can probably run as a less-privileged user.

[2016-10-10 15:26] StephaneGerardVUB opened #214 "aii-opennebula: missing dependency"
Release 16.8.0 of aii-opennebula RPM requires perl-Net-OpenNebula >= 0.307.0 which is not available in the quattor repositories.

[2016-10-11 11:38] alvarosimon commented on #214
Ah yes, it's available from CPAN but not from quattor repos, @stdweird it would be possible to include the new `perl-Net-OpenNebula` version in quattor repositories?

[2016-10-11 12:44] stdweird commented on #214
@StephaneGerardVUB http://users.ugent.be/~stdweird/quattor_externals/noarch/perl-Net-OpenNebula-0.308.0-1.noarch.rpm
@jrha @jouvin who controls the quattor externals repo again?

[2016-10-12 09:26] jrha commented on #214
Controls... :laughing:... I can put it there.

[2016-10-12 15:46] jrha commented on #214
Done.

I've also added panc 10.3 to all the externals repos.

[2016-10-12 19:14] stdweird commented on #193
Fixed in https://github.com/quattor/aii/pull/190/commits/d65d63ba3471729d12f45820f621ab57fff03b30 which is part of #190

[2016-10-12 19:14] #193 closed

[2016-10-12 19:15] stdweird commented on #214
It's in the http://yum.quattor.org/externals/noarch/el7/ and el6 repo.
@jrha thanks

[2016-10-12 19:15] #214 closed

[2016-10-13 21:06] #206 closed

[2016-10-17 05:51] stdweird commented on #168
@jrha i just managed to deploy el6 and el7 node using AII and ccm with kerberos auth (based on ipa).  there is nothing missing anymore in AII, CCM or CAF. for ipa suport itself, there's https://github.com/quattor/aii/pull/203 and the IPA PR itself https://github.com/quattor/configuration-modules-core/pull/750; but that's probably outside the scope of this issue.

[2016-10-17 09:01] jrha commented on #168
Ok, then this is done!

[2016-10-17 09:01] #168 closed

[2016-10-17 14:20] jrha commented on #209
Moved milestone to match PR that claims to fix the issue.

[2016-10-19 12:46] stdweird commented on #175
Default has been changed in CCM

[2016-10-19 12:46] #175 closed

[2016-10-21 15:51] #199 closed

[2016-10-21 15:51] #204 closed

[2016-10-21 15:51] #208 closed

[2016-10-21 16:06] jrha commented on #200
@Pansanel @stdweird did you get any further with this?

We've spawned a few issues during the investigation, will fixing them address the root problem or do we still need this as a top level issue?

[2016-10-27 07:35] jouvin commented on #200
The main issue remaining is tracked in https://github.com/quattor/aii/issues/201. I'd suggest to close this one that has too many things in it.

[2016-10-28 05:55] jouvin commented on #158
I have not seen these issues anymore in the last versions of AII. Let's close the issue and reopen it if another occurence of the problem is seen.

[2016-10-28 05:55] #158 closed

[2016-10-28 05:56] jouvin commented on #120
Fixed in recent Quattor versions.

[2016-10-28 06:00] jouvin commented on #97
This issue is almost 2 years old and I am not sure how we can progress on it. May be good to add in the description a list of the tasks that must be completed and potentially open sub-issues for some of them.

[2016-10-28 07:27] stdweird commented on #120
@jouvin what PR/commit?

[2016-10-28 11:19] jouvin opened #216 "aii-pxelinux: add support for Grub-based UEFI PXE boot loader"
UEFI requires a PXE loader different from `pxelinux.0`. One possible loader is based on Grub. RH provides it as part of the OS. On EL6, it installed in `/boot/efi/EFI/redhat/grub.efi` and is based on Legacy Grub. In EL7, it is provided by the package `grub2-efi` and is based on Grub2 (this is a set of files that must be copied on the TFTP server which doesn't need to run EL7). As Legacy Grub is no

[2016-10-28 11:48] jrha commented on #216
We started trying to support EFI network boot at RAL, but have put it to one side for now.
Our boot-servers use the following structure:

[code]

Then in `dhcpd.conf`:
[code]

[2016-10-28 13:00] jouvin commented on #216
@jrha what you mention in the "non Quattor" and rather trivial (as soon as you found the info!). AII impact is a bit more tricky, as explained in the description (about to be updated!).

[2016-10-28 13:30] jrha commented on #216
AII could generate both configs for BIOS and UEFI and then let dhcpd select the correct one at boot time, which would avoid having to know anything in advance.

[2016-10-28 13:35] jouvin commented on #216
Not really... Read the issue description: the problem is not in the DHCP config (DHCP just decides which PXE loader to use). After that, the same configuration entry is used and so it has to point to the right file. This is managed by `aii-shellfe --install/boot`.

[2016-10-28 14:20] jrha commented on #216
For example...

[code]

[2016-10-28 14:36] jouvin commented on #216
It may be an approach too... but one reason I didn't mention it is that I am not sure at all that pxelinux.pathprefix is taken into account by the RH UEFI PXE. Have you checked?

[2016-10-28 15:33] jrha commented on #216
Nope, was just an idea.

[2016-10-28 15:43] jouvin commented on #216
Unfortunately, I just checked and as I was afraid `pxelinux.pathprefix` (in fact dhcp option code 210) is ignored by RH UEFI PXE... Nevertheless, I think your idea is very good :-) and will help to manage the potential duplication of kernel/initrd directories. I'm updating the description reusing this idea.

[2016-10-28 16:00] jouvin commented on #216
BTW, with PR https://github.com/quattor/template-library-standard/pull/85 and the manual edition of the Grub configuration file, I have been able to install successfully a system, using the machine boot menu (F12) to force the boot on the hard disk and workaroud the problem of telling UEFI PXE to boot from the local disk.

[2016-10-28 16:28] stdweird commented on #216
what pxe boot cfg files was used to tell UEFI to boot from localdisk?
afaik, you can tell PXELINUX to actually from local disk, or (what we typically do) continue the boot sequence (ie leave PXELINUX).

[2016-10-28 16:46] jouvin commented on #216
Yes, this is exactly the problem I think. In PXELINUX, you were saying `localboot 0` which doesn't mean that PXELINUX boots from local disk (as we tend to say) but that you exit PXELINUX and let the BIOS look for the next device to boot. The problem is that I don't see any way of doing this with Grub2: you can chain another boot loader but this is not what you want. You'd like Grub2 to exit withou

[2016-10-28 17:54] stdweird commented on #216
from http://www.syslinux.org/archives/2013-August/020655.html
[code]

i'm sure what syslinux version RHEL ships, but a recent syslinux.efi might support `LOCALBOOT -1`?

[2016-10-28 17:57] stdweird commented on #216
that discussion goes on `Yes, I think so. The integer really means the same as EFI's ExitBootServices.` and that the localboot integer has not meaning in EFI, and is ignored (so `localboot 1` might work; or maybe just loclaboot). patch should be in 6.02.

[2016-10-28 18:14] stdweird commented on #216
More info and tips: http://www.syslinux.org/wiki/index.php?title=PXELINUX#UEFI
the syslinux.efi cannot be used for secure boot, but should work well otherwise. the x64 one is the same for disk boot as for network boot, but the if we use `localboot`, it will pick up the one from RHEL, so secure boot from disk with RHEL EFI might work. but secure boot from network won't unless the RHEL supports loca

[2016-10-28 18:55] jouvin commented on #216
I don't think that RHEL UEFI PXE is based on SYSLINUX one. This is why the config file format is not the same and why it doesn't accept the same options. I'll try to look at it in more details but having the RH one working would be great as from Grub you can do a lot of troubleshooting... something that used to be difficult with SYSLINUX.

[2016-10-28 18:57] stdweird commented on #216
if the syslinux one support localboot, you will get the grub based one to debug things. it will just not be the one you get during pxe phase. that being said, getting the RHEL one to work with localboot is even better.
maybe RHEL support can shed some light on the matter.

[2016-10-28 19:18] stdweird commented on #216
https://access.redhat.com/solutions/629813

RHEL recommends
[code]
and that there's no localboot equilvalent.

but this was/is for EL6, not sure the path is wrong/not properly adapted or grub specific so YMMV

for quattor, most nodes will be `hd(0,0)`, so at least a good default.

[2016-10-28 19:27] jouvin commented on #216
In fact, this was the idea I had after digging in several places and that I tried unfortunately without success. I guess it should be `/EFI/redhat/grub.efi`. I'll double check next week.

[2016-10-31 09:41] jouvin commented on #216
I spent some time this morning trying to troubleshoot this chainloading problem... I realized that the PXE loader from RH that Is used if in fact based on Legacy Grub. With this version, chainloading doesn't seem to work as expected (may be because it detects that the chainloaded loader is the same as itself and in fact does nothing...). I tried to use grubx64.efi from EL7, a Grub2-based loader, b

[2016-10-31 11:03] jrha commented on #216
Ooh I forgot about that, we changed our `localboot.cfg` to do `localboot -1` to support HPE nodes booting via BIOS PXE emulation in UEFI.

[2016-10-31 12:46] jouvin commented on #216
Huge step forward! I managed to get a a Grub2-based PXE loader to chainload to an EL6 or EL7 machine and to install (start the installer of) an EL7 machine. Unfortunately, Grub2 doesn't seem to be able to boot  an EL6 kernel (error is "kernel too old") because when booting in UEFI mode, the standard 'linux' command to load the kernel is disabled and replaced with a 'linuxefi' command (the same app

[2016-10-31 12:59] jouvin commented on #216
For the record, the Grub2 config files I used are:
- `localboot.cfg` (for booting on local disk):
[code]
- config file for triggering CentOS 7.2 installation:
[code]

[2016-10-31 13:13] jrha commented on #216
Yes, for me UEFI only makes sense with EL7+.

[2016-10-31 13:15] stdweird commented on #216
@jouvin thanks for all the testing!
i'm still interested in syslinux support / example config, as it is much more close to what we are currently using for legacy bios (in particular, the fact that we do not need to specify the `hd(0,1)` somehow for normal boot; there is nothing in the profiles that allows to configure this afaik).
we will stop caring about el6 in a few months, and maybe syslinux w

[2016-10-31 13:26] jouvin commented on #216
@stdweird `(hd0,1)` should work for all machines where the system disk is the first one seen by UEFI. It should cover most of the cases, but I agree that it will probably fail for some others (I remember Sun 4500 disk servers where the system disk was the highest numbered disk...). `hd0` has nothing to do with `hd` block devices on Linux. They map everything that is not a CDROM or a floppy, basica

[2016-10-31 13:54] jouvin commented on #120
My mistake, I was sure it was working properly but in fact installing an EL7 machine today, I saw that this was not the case. Is there any possible fix other than defining an `echo` function that will had the missing CR ?

[2016-10-31 16:59] jouvin commented on #216
Unfortunately, after more testing, the proposed solutin in https://github.com/quattor/aii/issues/216#issuecomment-257287409 is not so easy... In fact, for `localboot.cfg` the path to use to chain to the Grub installed on the system disk is varying between major version (EL6 and EL7 are different) and worst between distribution. In EL7, RH uses `/efi/redhat/grubx64.efi`, CentOS `/efi/centos/grubx64

[2016-10-31 17:07] jouvin opened #217 "LVM Partition wiping is not working properly on EL7"
In EL7, if you reinstall a machine with the same partitions and if there is one partition used by LVM (I think this is the trigger), you have to restart the installer 3 times before the installation proceeds successfully. It may have to do with a message displayed by the installation kernel when it starts about the LVM volume group already existing (if I  saw properly).

It would be a minor proble

[2016-11-02 13:21] jouvin opened #219 "16.10 snapshot: aii-ks unit tests failing on a SL6 machine"
I don't manage to get the aii-ks unit tests passing on my SL6 development machine (16 tests are failing), despite they work properly on Jenkins. Log is attached
[log.gz](https://github.com/quattor/aii/files/566621/log.gz)

[2016-11-02 13:32] jouvin commented on #216
I gave a try to SYSLINUX. I built 6.03 following the instructions (in particular not to rebuild `ldlinux`). But after loading it, my test machine hangs and I tend to think that this is the sign of something "wrong" in `ldlinux.e64`(or its interaction with the machine firmware). I may try to give a try to 6.04 pre-release but this does not look very promising...

[2016-11-02 13:55] stdweird commented on #219
Quick scan shows you need more up-to-date ncm-lib-blockdevices. latest master https://jenkins1.ugent.be/view/Quattor/job/ncm-lib-blockdevices/lastSuccessfulBuild/org.quattor.maven$blockdevices/artifact/org.quattor.maven/blockdevices/16.8.1-SNAPSHOT/blockdevices-16.8.1-SNAPSHOT.rpm
Jenkins uses master of everything to test

[2016-11-02 14:18] jouvin commented on #219
I checked but this is what I was using (if I have not done any mistake!). Don't worry too much for this, I can wait for the RC to check that everything works as expected when everything is at the same version.

[2016-11-02 14:30] stdweird commented on #219
hmm, it is strange. all failures are related to `extended_no_msdos_label` which was introduced in  https://github.com/quattor/ncm-lib-blockdevices/pull/51

i just ran all tests on el5/6/7, they all passed (see https://github.com/quattor/release/pull/265)

[2016-11-02 15:00] jouvin commented on #219
Another mistake of mine!!! Sorry for the noise...

[2016-11-02 15:00] #219 closed

[2016-11-02 16:01] jouvin commented on #216
It works :smile:. I managed to get the Grub2-based UEFI PXE boot loader to do exactly what PXELINUX has been doing: exit PXE and let the machine firmware decide which device to boot next (normally the hard disk). The Grub2 command to use is just `exit`! No need for chaining to another loader (despite it should work too if the blocklist specification was not disabled in the version I have).

I am u

[2016-11-02 17:10] jouvin commented on #216
Remark on UEFI EL6 support with Grub-based loader: this is in fact easy to get it working. This is just the matter of having a Grub EFI loader built with the `linux` module which is not the case by default for the RH-provided one (it provides only `linuxefi` to enforce EFI which is quite reasonable). By chance Grub2 has a `grub2-mkimage` command that allows to rebuild the loader with the list of m

[2016-11-03 14:22] stdweird opened #220 "aii-shellfe should intercept perl warnings"
Similar to and as simple as https://github.com/quattor/ncm-ncd/commit/853f34f727d49d3590f4b2103c0c0d34ea4d0aad
Not really a blocker for https://github.com/quattor/release/issues/266

[2016-11-03 14:39] stdweird opened #222 "Subroutine unescape redefined warning"
See also https://github.com/quattor/configuration-modules-core/issues/958

Also not a blocker for  quattor/release#266 imho

[2016-11-03 15:03] stdweird opened #223 "aii opennebula handle missing template"
This error
[code]
line 650 is the one with error in
[code]

[2016-11-03 15:17] alvarosimon commented on #223
ah yes.. this is a stupid issue 😅 , when the template is not there `name`  method is not defined... I will change that to show the proper VM hostname from the error message.
Thanks!

[2016-11-03 15:52] alvarosimon opened #224 "aii-opennebula: Include labels feature"
This is a nice feature included since ONE 5.x, now is possible to include labels or tags to any resource (templates, running VMs, vnets...):

http://opennebula.org/opennebula-5-0-features-labels/

Only requires to include `LABEL`  variable within the ONE resource template, labels are included in the database and  it is also possible to make queries from the frontend.

[2016-11-07 10:25] alvarosimon opened #228 "aii-opennebula: Include random passwords for SPICE/VNC connections"
This is quite easy to implement, just requires to add `RANDOM_PASSWD="YES"`    within VM graphics sections template. It will include a random password each time that the VM is instantiated, this will improve the security.

[2016-11-08 15:37] stdweird opened #229 "aii also sets HTTPS env variables"
similar to the ncm-download issues, e.g. the opennebula hook uses `LWP::USerAgent`, and picks up the CCM configuration.

[2016-11-08 15:38] stdweird opened #230 "aii opennebula add option to set CA cert or dir"

[2016-11-10 12:31] #220 closed

[2016-11-10 12:31] #120 closed

[2016-11-15 11:16] jrha commented on #200
Replaced by #201.

[2016-11-15 11:16] #200 closed

[2016-11-23 10:45] alvarosimon opened #231 "aii-opennebula: Include VM hugepages support"
libvirt is able to use hugepages if they are available in the hypervisor. Include an option to use hugepages from the VM template.

[2016-11-30 15:44] #223 closed

[2016-11-30 15:44] #224 closed

[2016-11-30 15:44] #228 closed

[2016-12-07 14:41] samary opened #234 "aii-opennebula : Include scheduling support"
We use scheduling feature of opennebula.
@alvarosimon is testing the proposed implementation.
Reference : http://docs.opennebula.org/5.2/operation/references/template.html#placement-section

[2016-12-07 16:51] samary opened #235 "aii-opennebula: Add qcow2 image support"
We want to use qcow2 images with opennebula.
@alvarosimon is looking to add this feature.

[2016-12-08 10:30] #234 closed

[2016-12-08 11:51] jrha commented on #209
Ditto.

[2016-12-08 14:10] stdweird commented on #222
See quattor/configuration-modules-core#958 for references to all fixes/PRs

[2016-12-08 14:10] #222 closed

[2016-12-12 15:56] kwaegema opened #240 "AII::Shellfe tests hava a lot of cleanup warnings"
A lot of these messages pop up when running tests of AII::Shellfe:

	(in cleanup) Can't call method "verbose" on an undefined value at /home/kwaegema/gitrepos/extra/aii/aii-core/target/lib/perl/AII/Shellfe.pm line 336 during global destruction.

[2017-01-19 17:31] stdweird opened #241 "EL7 AII with mutiple nodes stops dhcpd due to too many restarts"
[code]

aii should be a lot smarter wrt restarts

[2017-01-19 17:32] stdweird commented on #241
Lots of options to go here, one might be to increase the number of dhcpd restarts in systemd
The other/better option is part of #239

[2017-02-10 09:51] #235 closed

[2017-02-15 16:53] jrha opened #245 "aii-custom: missing from this repository"
We make extensive use of `aii-custom` to inject configuration and commands into kickstart files at RAL,
but somehow it never made it on to GitHub.

[2017-02-16 09:25] jrha commented on #245
Code can still be found at https://sourceforge.net/p/quattor/svn/HEAD/tree/trunk/aii/plug-ins/contrib/hooks/aii-custom/

[2017-02-16 09:46] stdweird commented on #245
please do not make a new plugin for this code, just a PR to `aii-ks`. we can figure out some magic way to make it work old profiles that configure this as a hook.

but i am interested to know what you are trying to configure this way.

[2017-02-16 09:53] stdweird commented on #245
also, they were pushed to sourceforge after this was setup https://github.com/piojo/AII-contrib
we should make a PR to @piojo repo to add bot custom and savefile

as a matter of fact, i can use both in some form for some code i'm planning to add 😄

[2017-02-16 16:10] jrha commented on #201
Found more hooks!, See #245.

[2017-02-17 06:12] stdweird commented on #229
Fixed by #237

[2017-02-17 06:12] #229 closed

[2017-02-24 15:18] #241 closed

[2017-02-24 15:22] #230 closed

[2017-02-24 15:57] jouvin opened #246 "aii-core: missing perl-Parallel-ForkManager dependency"
#239 makes required to install `perl-Parallel-ForkManager` to be able to run `aii-shellfe`.

[2017-02-24 16:37] jouvin commented on #246
As mentioned by @stdweird in https://github.com/quattor/aii/pull/247#issue-210085384, the dependency is automatically added due to the `use` presence.

[2017-02-24 16:37] #246 closed

[2017-02-24 18:46] jouvin opened #248 "aii-shellfe broken after #239"
To test #225 (rebased on #239), I installed the last CAF. Unfortunately, `aii-shellfe` no longer works with the error:
[code]
This happens when defining `CAF::Download::LWP` options.

Any idea why this happens and what is the workaround... This is a blocking issue for testing and eventually merging #225.

**This is also a showstopper for next release** as #239 has already been merged.

[2017-02-25 11:09] jouvin opened #250 "shellfe-dhcp.t attemps to open an unexisting config file"
Looking at aii-core tests, I found that `shellfe-dhcp.t` attempts to open an unexisting AII config file (`shellfe.cfg`). This doesn't cause the test to fail but I have the feeling this is unexpected and probably the result of a renamed `.cfg` file... If this is done on purpose feel free to close this issue after adding a comment in the test...

[2017-02-25 13:01] #248 closed

[2017-02-25 16:51] stdweird commented on #250
@kwaegema did you forget to commit this file?

[2017-02-27 12:24] kwaegema commented on #184
This looks like #166. Right now aii-shellfe uses aii-core/DHCP module, which is also used by aii-dhcp. So I would not know where the plugin/module would be used. So unless somebody uses this in his own fork, it is probably better deleted, since it has almost the same code as aii-core/DHCP, except for the interface

[2017-02-27 13:02] #250 closed

[2017-02-28 08:12] stdweird opened #252 "remove aii-opennebula and move all issues to the component"
both aii-opennebula and ncm-opennebula now generate the `quattor/aii/opennebula` templates, and only the component is supported.

the subdir can be deleted, and the `aii-opennebula` entry must be removed form the main project pom.xml.

also any leftover issues have to be closed or transferred to the component repo

[2017-02-28 08:52] alvarosimon commented on #231
I will close this issue and reopen it for ncm-opennebula

[2017-02-28 08:52] #231 closed

[2017-02-28 08:53] alvarosimon commented on #231
Note: this ticket is now assigned to ncm-opennebula
https://github.com/quattor/configuration-modules-core/issues/1057

[2017-02-28 08:58] alvarosimon commented on #167
we will keep `/system/opennebula`   due to this is only used by OpenNebula framework, besides this is now maintained by the component itself not by the aii.

[2017-02-28 08:58] #167 closed

[2017-02-28 09:01] alvarosimon commented on #252
Old  opennebula aii issues are now closed or reassigned to the component, I will open a new PR to remove opennebula aii..

[2017-02-28 16:01] #252 closed

[2017-03-01 07:39] stdweird opened #254 "aii mvn project warnings"
i'm clueless what this is about or if this even harmfull

[code]

[2017-03-01 08:07] jouvin commented on #254
I missed that in my recent tests... I'll try to look at it. I'd say this is harmless but not clean... In general our pom.xml are far from perfect (I'm not sure what a perfect pom.xml looks like) but in particular they tend to unnecessarily duplicate things when they want to add an item in an item group (like a new directory) to take into account. This seems especially true with AII. It seems that

[2017-03-01 11:20] jouvin opened #255 "aii-pxelinux Grub2 support improvements/cleanups"
This issue is a list of improvements/cleanups to be done in `aii-pxelinux` after #225:
- [ ] Turn every function in to a method and use `$self`for reporting rather than `$this_app`. Some adjustments needed to unit tests.
- [ ] Use `CAF::Path` instead of `unlink()`
- [ ] Status(): implement a consolidated status, checking the consistency (definition, date) between variants
- [ ] Grub2: implement ad

[2017-03-01 21:20] jouvin opened #256 "aii-ks: ksuserhooks() should handle NoAction flag"
Currently, ksuserhooks() ignore `NoAction` flag. This is clearly inappropriate and requires function users (like `pxelink`) to do it.

[2017-03-02 13:36] stdweird opened #257 "number prefix in message for no apparent reason"
probably the parallel forkmanager adds these, but this is on a config where no parallel was defined in the config

eg the `1` befroe the `AII::DHCP`
[code]

[2017-03-02 13:37] stdweird commented on #257
Not sure if this is a blocker for https://github.com/quattor/release/issues/285
@jrha i'll let you decide
@kwaegema can this fixed quickly?

[2017-03-02 13:40] stdweird opened #258 "aii pxelinux write failure"
related to #225

ugly failure due to missing function/method?
[code]

[2017-03-02 13:40] stdweird commented on #258
@jouvin

[2017-03-02 13:41] stdweird commented on #258
@jouvin this is during a reinstall, no uefi settings applied yet

[2017-03-02 14:00] stdweird commented on #258
fixed with comments in PR https://github.com/quattor/aii/pull/225/files#r103927865 and https://github.com/quattor/aii/pull/225/files#r103927717

[2017-03-02 14:34] jouvin commented on #257
This is probably a typo with a debug() changed to info() keeping the debug level. Should be trivial to fix.

[2017-03-02 15:09] jouvin commented on #258
I apologize about this. I did this yesterday evening and I was sure that I installed the new version since then... Clearly not. And I was sure that a typo would be catched by unit tests when these methods are not. PR #255 fixed now. Unit test still to be added: I keep this issue open until it is done.

[2017-03-02 16:03] jrha commented on #257
Good catch!
Definitely not a blocker, but should be fixed because it should be simple to do so.

[2017-03-02 16:11] jouvin commented on #257
A mistake that I did more than once!

[2017-03-02 16:16] #257 closed

[2017-03-08 15:40] nowack73 opened #260 "aii-shellfe cannot verify server certificates when fetching profiles"
In Quattor 17.2, aii-shellfe cannot get profiles because of a certificate verification error:
[code]

ncm-aiiserver writes entries for `ca_file`, `cert_file`, and `key_file` into /etc/aii/aii-shellfe.conf, but the temporary configuration of ccm-fetch (/tmp/aii/XXXX/ccm.conf) does not contain these entries. Therefore the new (compared to Quattor 16.8) download method cannot verify the certificate o

[2017-03-08 15:56] stdweird commented on #260
@nowack73 can you send me `--debug 5 ` output?

[2017-03-09 15:27] nowack73 commented on #260
Here are the debug ouput and some configuration files:

[code]

ccm.conf used by aii-shellfe:
[code]

For comparision: ccm.conf generated by ncm-ccm:
[code]

Configuration of aii-shellfe:
[code]

[2017-03-09 16:44] nowack73 opened #261 "aii-pxelinux does not accept /dev/enp4s0f0"
/dev/enp4s0f0 is not accepted as ksdevice.

In quattor/aii/pxelinux/schema.pan line 16:
[code]

With the following line, enp4s0f0 is accepted:
[code]

This problem is related to https://github.com/quattor/configuration-modules-core/issues/1069

[2017-03-13 11:32] nowack73 opened #262 "aii-ks: xwindows default configuration for SL7 is wrong"
In quattor/aii/ks/schema.pan,  '/system/aii/osinstall/ks/xwindows/depth' is set to 24 by default. This produces in the kickstart file a line with "xconfig .... --depth=24". In SL7, anaconda complains about the unknown option "--depth" and quits the installation.

According to [RHEL5 kickstart options](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/5/html/Installation_Guide/

[2017-03-13 11:36] nowack73 commented on #262
Futthermore, the option "--resolution=" is not supported in RHEL6 and RHEL7 and therefore should not be mandatory.

[2017-03-21 15:51] stdweird commented on #166
afaik, this is the situation:
* there's a script `aii-dhcp` uses DHCP from aii-core
* aii-shellfe uses DHCP.pm directly (not via the script)
* aii-dhcp is a plugin/hook that is not used by default in AII (and unmaintained?)

proposal: get rid of unused plugin/hook under aii-dhcp

[2017-03-21 15:55] jrha commented on #201
Discussed at March 2017 workshop, agreed that:
1. structure_aii should not be extensible.
2. structure_aii_hooklist will need to remain extensible unless it can be restructured in future.
3. structure_aii_module shoud be removed and proper types defined for each module.

[2017-03-21 16:05] jrha commented on #166
Discussed at March 2017 workshop, agreed to remove the script and review the differences between the module and plugin.

[2017-03-21 16:08] jrha commented on #184
Duplicate of #166.

[2017-03-21 16:08] #184 closed

[2017-03-21 16:08] jrha commented on #166
We appear to be using the plugin at RAL and MS definitely are (they contributed it).

[2017-03-21 16:19] jrha commented on #217
Discussed at March 2017 workshop, @stdweird suggested that the `-y` option maybe fixed in the install images for 7.3.

[2017-03-21 22:21] jrha commented on #217
@gombasg also suggested that the older partition wiping code in blockdevices may be better at eradicting the source of some of these problems.

[2017-03-22 08:56] #261 closed

[2017-03-22 08:59] jrha commented on #262
Default should be removed from schema, only in el5 variant.

[2017-03-22 09:04] jrha commented on #254
Not urgent, but should be done at some point, removing the milestone until someone can commit time to it.

[2017-03-22 19:38] stdweird opened #264 "Support kerberos"
Currently in case of regular HTTPS, the aii-shellfe.conf options are used for LWP (`profiles.xml`) and `CCM::Fetch`.
We also need to be able to pass the kerberos options to CCM / LWP.

Currenlty kerberised CDB is not supported.

[2017-03-27 13:11] jnovy commented on #217
FYI: we still see lvcreate going interactive without -y in RHEL7u3.

[2017-03-27 13:28] jrha commented on #216
Following the discussion at the workshop I'm pushing this back to 17.4.

[2017-03-27 13:29] jrha commented on #258
@stdweird was this in master or were you testing #225?

[2017-03-27 13:46] stdweird commented on #258
testing #225, and is already fixed there. @jouvin wanted to keep this open, but it can already be closed afaik

[2017-03-27 14:03] jouvin commented on #258
#225 is supposed to close this issue... but I have no problem if you close it before...

[2017-03-27 14:09] jouvin commented on #216
@jrha why? My understanding of the conclusion was the opposite... No reason to delay it more as it is fully backward compatible for people not using UEFI (and can only bring improvements to others as there was not way to install a UEFI machine with the previous version, except some local hack).

[2017-03-27 14:11] jrha commented on #216
The work changes the types of existing parameters in the schema (which is good, it improves the validation, but it may affect users), if you factor those changes out then I am happy to merge this for 17.3.

[2017-03-27 14:14] jrha commented on #216
Specifically: https://github.com/quattor/configuration-modules-core/pull/1061/commits/b6efec2c2bfad6eadad8dd7decaef0a404265cba

[2017-03-27 15:00] jouvin commented on #216
I'll see if I can factor them out... I implemented the chages at the request of @stdweird (a good suggestion anyway). I don't think the change should affect anybody: the code required that the values had this type. The schema has been updated to express the requirement.

Personnally I'd like to get a feedback on the UEFI support and I don't see much adoption of it before we release it...

[2017-03-29 16:00] #216 closed

[2017-03-29 16:00] #258 closed

[2017-03-30 08:53] #260 closed

[2017-03-30 13:05] stdweird commented on #262
@jrha @jouvin there is no el5 variant file atm. what should we call it: `sl5` or `el5`?

[2017-03-30 13:54] jrha commented on #262
IMHO it should match the template library branch naming convention (i.e. sl5).

[2017-04-05 15:56] jnovy commented on #217
It seems that `-y -Wy -Zy` passed to lvcreate should make the interactivity go away.

[Reference](https://github.com/chef-cookbooks/lvm/issues/45)

[2017-04-24 10:48] stdweird opened #270 "aii-ks: set hostname"
the AII side of https://github.com/quattor/configuration-modules-core/issues/870

[2017-06-19 13:34] samary commented on #134
Up ?

[2017-06-19 14:14] stdweird commented on #134
@samary the freeipa AII module is now part of the freeipa component. this is not needed anymore afaik

[2017-06-19 15:30] samary commented on #134
@stdweird : Ok, we will try it.

[2017-06-20 10:24] #262 closed

[2017-06-20 13:56] jouvin opened #273 "DHCP.pm 17.2: strange entry name added for hostname 'x-y.dom.ain'"
I just realized that with 17.2 (but may be the case since a long time), if you have a host name like `x-y.dom.ain`, the `host` entry added in the DHCP configuration will be `x.dom.ain-y`. This is basically harmless but a litle bit surprising... Is it a design choice or a bug?

If this is a bug, when fixing it, it should continue to search for the buggy name when deleting a name to allow an easy cl

[2017-06-20 15:03] jrha commented on #273
Are you sure, we don't see this...
[code]

[code]

[2017-06-20 15:10] jouvin commented on #273
Yes I'm sure... I've to check if there is something in our config that could result in this...

[2017-08-15 08:45] #134 closed

[2017-10-26 15:40] ned21 commented on #217
@stdweird reported that he ran into this 2 weeks ago so it remains a live issue. He will try the options suggested above. @jnovy - how did we solve this internally? Anything we can push upstream?

[2017-11-24 10:00] jrha commented on #264
@stdweird are there other requirements driving this?
If not and it's just aspirational I'd rather it didn't have a milestone.

[2017-11-24 11:29] stdweird commented on #264
If you run freeipa with aii and you fetch the profiles remotely, this needs fixing. We (at ugent) don't require it (our AII server is our quattor server, and has the profiles locally; and we fetch them with `dir://` magic).
Feel free to remove the milestone. I have no time to work on this (currently working on openstack and pacemaker...)

[2018-05-15 12:20] stdweird opened #282 "aii ks partition remval code ignores partitions without a filesystem"

[2018-07-14 09:31] jouvin opened #288 "aii-installfe: perl-IPC-Run dependency is not defined as required"
`aii-server` RPM is missing the dependency `perl-IPC-Run` that is required to run `aii-installfe`.

[2018-07-16 13:43] jouvin opened #290 "18.6.0: aii-installfe should allow to define cdburl"
`aii-installfe` should allow to define `cdburl` parameter in the executed `aii-shellfe`, as it does for most `aii-shelffe` parameters. This would make possible to easily share an AII server between SCDB and Aquilon, allowing the Aquilon broker to pass the `cdburl` matching itself .

[2018-07-25 08:08] #288 closed

[2018-07-31 14:08] #290 closed

[2018-08-23 14:15] Pansanel opened #293 "Disabling selinux during OS installation does not work with CentOS 7.5"
Hi,
By default, selinux is disabled during the OS installation.
However, starting with CentOS 7, selinux is only disabled during the installation, but is set as enabled after the installation. It was until now a minor issue, and was probably due to the missing ```selinux-policy``` package. We can see the following line in the ```anaconda.log``` file:
[code]

With CentOS 7.5, the issue becomes wors

[2018-08-23 14:34] stdweird commented on #293
@Pansanel can you add
[code]
to the generated ks file, right before a line that starts with
`yum -c /tmp/aii/yum/yum.conf` (so before the kernel is installed)

[2018-08-23 19:20] ned21 commented on #293
We also disable selinux via (ncm-)grub.

[2018-08-24 09:28] Pansanel commented on #293
We does not need to disable SELinux. Using a permissive setup works fine. We should probably correct the way Quattor is doing the installation. I propose to fix the issue:
* Adding to the kickstart
[code]
* Not to remove the selinux packages

[2018-08-24 09:31] stdweird commented on #293
well, if selinux mode is disbaled, we can set `selinux=0` and keep removing the packages.
but if permissive mode is used, the packages shouldn't be removed

[2018-08-24 09:39] stdweird commented on #293
if selinux is permissive, it shouldn't remove the selinux packages in current release

[2018-10-30 14:13] wpoely86 commented on #216
I had issues with first doing PXE boot and then booting from the hard drive but this the `localhost.cfg` from below it works for me (and no need to fix the root):

[code]

[2018-10-30 14:21] wpoely86 opened #301 "localboot.cfg example"
The example `localboot.cfg` shipped with `aii-server` is for PXELinux only. An example for UEFI PXE with grub should be added.

This works for me (with chainloading):

[code]

[2018-10-30 15:44] stdweird commented on #216
@wpoely86 yes, that might work (one can also just ship this via pxe without reading it from disk.)
it's not 100% the same as what `localboot` does in legacy bios (there it goes to the next boot option), but it's ok for this purpose.
thx for investigating!

[2018-12-05 13:37] gombasg opened #303 "Implement auto-cleanup of deleted hosts"
`aii-shellfe` has the `--remove` and `--removelist` options for cleaning up hosts which are no longer needed. However, these options work only if the host still exists, because they check the hostname against `profiles-info.xml`, and try to refresh the host profile. So these options cannot be used for cleaning up hosts which have already been deleted.

It would be useful to have an option to autom

[2018-12-05 13:42] stdweird commented on #303
@gombasg about not checking the template on `--remove`, i'm not in favour, because we have remove hooks, and you never know you want to fix them before removing/reinstalling the host.
i propose we add a `--cleanup` option to handle missing profiles

[2018-12-05 17:57] gombasg commented on #303
@stdweird well, I said it can be argued about :-) I could imagine a hybrid solution, like `--remove` refreshing the profile if the host is still present in `profiles-info.xml`, and using the last cached profile otherwise. I only took a quick look at the code though, so I don't know which solution would be easier to implement.

[2019-03-05 14:14] pugnere opened #304 "aii-ks issue : "access denied" from ssh or console access after post install (centos7)"
Using templates 18.6.0 :  when selinux is enabled, I can't access a freshly installed system (Centos 7.6) after the post-install.

The only way to recover access is to force the system to relabel files (touch /.autorelabel) from a recover procedure like this one : https://unix.stackexchange.com/questions/392953/access-denied-for-all-users-after-reset-of-root-password

Modified the /usr/lib/perl/NC

[2019-03-05 15:45] Pansanel commented on #304
This issue is caused by SELINUX. SELINUX is disabled during installation and enabled after (on CentOS7). To mitigate this issue, we are using SELINUX in permissive mode at IPHC:
[code]

This issue is related to:
https://github.com/quattor/aii/issues/293

[2019-03-07 15:27] pugnere commented on #304
@stdweird, I think this is a selinux-policy* and kernel issue after rpm upgrades, may be related to https://bugzilla.redhat.com/show_bug.cgi?id=1581551

[2019-04-26 08:08] itkovian opened #309 "aii-rci exit code is misleading"
If aii-rci encounters an error along the way, the exit code is still 0. For example:

[code]

[2019-11-18 10:04] stdweird opened #317 "aii-ks: new ack list feature has wrong pan code"
https://github.com/quattor/aii/pull/305/files#diff-8d164602489699c4ecacdfc3ba849cd4R393

the `value` call needs a default `undef` value, otherwise, value will trigger an error.
but there are some other things odd:
- why use value if the value is set the line above using a variable (should that have been a `?=` ?)
- the logic order of the blocks should be switched

[2019-11-28 17:21] gombasg commented on #317
I've stared at the templates for a while, and then decided that deprecating ackurl would be the best way forward. I believe the PR I've opened should not cause any incompatibility, but that needs to be tested outside of our environment...

[2019-12-10 17:57] jrha commented on #309
@stdweird is `aii-rci` UGent specific?

[2019-12-10 21:18] stdweird commented on #309
it's used to be, now it's `aii-shellfe --reinstall`

[2019-12-11 09:33] jrha commented on #309
aha!

[2019-12-17 13:22] jrha opened #321 "aii-dhcp: Remove script"
As mentioned in #166 and agreed at [March 2017 workshop](https://www.quattor.org/meeting/2017/03/21/annecy-workshop.html#pending-issues).

[2019-12-17 13:24] jrha opened #322 "aii-dhcp: Review differences between module and plugin."
As mentioned in #166 and agreed at [March 2017 workshop](https://www.quattor.org/meeting/2017/03/21/annecy-workshop.html#pending-issues).

[2019-12-17 13:24] #166 closed

[2019-12-23 19:19] #317 closed

[2021-04-27 15:40] #111 closed

[2021-05-04 13:00] jrha commented on #309
Confirmed in to occur in `aii-shellfe`:
[code]

[2022-03-23 22:33] jouvin opened #332 "aii 21.12: partition wiping doesn't work the first time"
Not sure if the problem as ever solved, I have the feeling that yes. In a recent EL7 install, the first resinstallation of a machine that had a system disk with several partitions and LVM volumes in one of them, the first partition wiping/creation doesn't work: the test for the last partition (the partition which had the LVM volumes) never succeeds and the partition creation is retried indefinitel

[2022-03-24 17:49] gombasg commented on #332
Disk wiping is an ugly business. If you delete and re-create a partition which had an LVM volume inside, then the default udev rules will trigger activating the LVM volume, and this activation races with AII trying to remove the LVM signature. AII tries to de-activate the LVM device, but if that does not succeed, then all bets are off. If you still have the logs, check if "dmsetup remove" printed

[2022-03-24 17:54] jouvin commented on #332
@gombasg thanks for your answer. I was suspecting something like this but next time I'll try to look more carefull at what `dmsetpu` did...

[2022-07-27 10:12] jrha commented on #301
This has worked great until we had to support more than one distribution with the same set of boot-servers, so we came up with:
[code]

[2022-09-06 13:26] StephaneGerardVUB opened #333 "aii 21.12 (ks.pm): auth command deprecated in Kickstart"
The problem has been detected while trying to deploy an AlmaLinux 8.6 machine. The auth command should be replaced by authselect. Sources: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_8_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user#deprecated-kickstart-comands-and-options_kickstart-changes

[2022-09-13 09:57] StephaneGerardVUB commented on #333
A temporary solution is to install the package authselect-compat.

[2022-10-11 13:00] ulrich1919 opened #334 "aii/ks.pm fix UEFI BootOrder bash routine does not work for Boot entry named "EFI Network""
The output of "efibootmgr -v" has a Tab delimiter which separates Boot entry names and their targets:(see last line "EFI Network")
[code]
This last line is a no match for grep regexp in https://github.com/quattor/aii/blob/master/aii-ks/src/main/perl/ks.pm#L1617
As a result of this, BootOrder is not fixed.
The proper regexp should be:
`grep -Pi '\s+(NIC|PXE|Network)\s+'`

[2022-10-24 09:48] #334 closed